skills/engineering-api-n8n-workflow-builder/assets/workflow-template.json
{
  "name": "REPLACE_WITH_WORKFLOW_NAME",
  "nodes": [
    {
      "id": "11111111-1111-4111-8111-111111111111",
      "name": "Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [120, 60],
      "parameters": {
        "content": "## Workflow Overview\n\n**Purpose:** REPLACE_WITH_PURPOSE\n\n**Trigger:** REPLACE_WITH_TRIGGER\n\n**Inputs:** REPLACE_WITH_INPUTS\n\n**Outputs:** REPLACE_WITH_OUTPUTS\n\n**Owner:** REPLACE_WITH_OWNER\n\n**Env vars:** REPLACE_WITH_ENV_VARS\n\n**Credentials:** REPLACE_WITH_CREDENTIALS",
        "height": 240,
        "width": 520,
        "color": 5
      }
    },
    {
      "id": "22222222-2222-4222-8222-222222222222",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [260, 360],
      "parameters": {}
    },
    {
      "id": "33333333-3333-4333-8333-333333333333",
      "name": "Shape Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 360],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "example",
              "type": "string",
              "value": "replace me"
            }
          ]
        },
        "options": {}
      },
      "notes": "Define the data contract for downstream nodes.",
      "notesInFlow": true
    },
    {
      "id": "44444444-4444-4444-8444-444444444444",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [260, 720],
      "parameters": {}
    },
    {
      "id": "55555555-5555-4555-8555-555555555555",
      "name": "Notify On Error",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 720],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "alertMessage",
              "type": "string",
              "value": "=Workflow {{$json[\"workflow\"][\"name\"]}} failed at node {{$json[\"execution\"][\"lastNodeExecuted\"]}}: {{$json[\"execution\"][\"error\"][\"message\"]}}"
            }
          ]
        },
        "options": {}
      },
      "notes": "Replace with Slack / Email / PagerDuty node. This Set is a placeholder."
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          { "node": "Shape Input", "type": "main", "index": 0 }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          { "node": "Notify On Error", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "versionId": "00000000-0000-4000-8000-000000000000"
}
